---
import DocsLayout from "@/layouts/DocsLayout.astro";
import Showcase from "@/components/astro/Showcase.astro";
import AlertDemo from "@/components/ui/Alert.astro";
import RelatedComponent from "@/components/astro/RelatedComponent.astro";


const related = [{ name: "Accordion", url: "/docs/accordion", count: 1 }];
const alertCode = `
<div
  role="alert"
  class="p-4 border border-black bg-white rounded-xl
dark:bg-white dark:text-gray-900"
>
  <div class="flex items-start gap-4">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="1"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-triangle-alert-icon lucide-triangle-alert text-gray-900 dark:text-gray-900"
      ><path
        d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3"
      ></path><path d="M12 9v4"></path><path d="M12 17h.01"></path></svg
    >
    <div class="flex-1">
      <strong class="font-medium text-gray-900 dark:text-gray-900">Alert</strong>
      <p class="mt-0.5 text-sm text-gray-900 dark:text-gray-900">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt sit
        expedita cum eos illum saepe nobis aspernatur, aut ullam iure et tempore
        est, at asperiores voluptate, veniam eaque a alias.
      </p>
    </div>
  </div>
</div>
`;
---

<DocsLayout title="Alert">
  <header class="flex flex-wrap justify-between gap-4 mt-20">
    <div class="prose dark:prose-invert">
      <h1 id="accordion-component">Alert</h1>
      <p>
        A Component to attract user attention so that they focus on the
        notification.
      </p>
    </div>
  </header>

  <Showcase code={alertCode}>
    <AlertDemo />
  </Showcase>
  <RelatedComponent
    related={related}
  />
</DocsLayout>
