---
import DocsLayout from "@/layouts/DocsLayout.astro";
---

<DocsLayout title="How To Use">
    <header class="flex flex-wrap justify-between gap-4 mt-20">
     <div class="prose dark:prose-invert">
        <h1 id="title-page">❓ How To Use </h1>
        <p>To use our components, you can follow the steps provided below:</p>
        <h2>Step 1 :</h2>
        <p>Make sure Tailwind CSS is installed on your project, if not, you can visit the official Tailwind documentation here <a href="https://tailwindcss.com/docs/installation/using-vite">Tailwind Documentation</a> and adjust it to the technology you are using.</p>
        <p>If so, you can go directly to the next step.</p>        
        <h2>Step 2 :</h2>
        <p>In this step you will be asked to install Alphine js, to install you can directly visit the official documentation page of Alphine js on the following page <a href="https://alpinejs.dev/installation"> Alphine JS Documentation </a>.</p>
        <h2>Step 3 :</h2>
        <p>If step 1 and step 2 have been executed, step 3, you can directly copy the components available on our landing page, and you can immediately put them in your own project.</p>
    </div>
    </header>
</DocsLayout>