---
import DocsLayout from "@/layouts/DocsLayout.astro";
---

<DocsLayout title="Introduction">
  <header class="flex flex-wrap justify-between gap-4 mt-20">
    <div class="prose dark:prose-invert">
      <h1 id="title-page">Introduction</h1>
      <p>Welcome to Elysia UI, Nice to welcome you here 😄</p>
      <p>
        Elysia UI is a handcrafted component that is made to be used for free,
        and ready to use using Alphine JS, designed to enrich and add
        interactivity to your website.
      </p>
      <h2>Key Features :</h2>
      <ul>
        <li>
          <span class="font-bold text-justify">Completely Free :</span> Elysia UI is built using
          Alphie JS Components which are completely free to use in your projects
          whether personal projects, open source projects, or commercial projects,
          please always check our <a href="/">License</a> for further use.
        </li>
        <li>
          <span class="font-bold text-justify">Build With Alphine JS :</span> By using Utilities
          From <b>Alpine JS</b>, Makes Elysia UI Components Lightweight and
          Reactive, ensuring a smooth user experience without the burden of a
          large Javascript framework.
        </li>
        <li>
          <span class="font-bold text-justify">Designed With Tailwind CSS : </span> Elysia UI
          components are designed using <a href="https://tailwindcss.com"
            >Tailwind CSS</a
          > a css framework that supports utilities and also rapid UI development
          as well as a clean and maintainable code base. It also supports plug and
          play components that have been created using Tailwind CSS and Alphine JS.
        </li>
        <li>
          <span class="font-bold text-justify">Responsive Design : </span>Elysia UI is made
          with a responsive design, suitable for viewing from anywhere, both
          desktop and mobile.
        </li>
        <li>
          <span class="font-bold text-justify">Support Dark Mode : </span> Elysia UI supports
          dark mode by default, so if you already use dark mode in your project,
          the Component will automatically adapt to the existing dark mode.
        </li>
      </ul>
      <h3>How To Use </h3>
      <p class="text-justify">
        To use our components, simply go to the landing page we provide, select
        the component you want, click on the code, copy the code, and then paste
        it into your project.
      </p>
    </div>
  </header>
</DocsLayout>
