---
import Navbar from "@/components/astro/Navbar.astro";
const { title } = Astro.props;
import {
  SEO_DESCRIPTION_MARKETING_COMPONENTS,
} from '../consts'
import BaseHead from "@/components/BaseHead.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={SEO_DESCRIPTION_MARKETING_COMPONENTS}
    />
  </head>
  <body class="dark:text-foreground">
    <Navbar />
    <main class="mx-auto max-w-7xl space-y-8 px-4 py-8 grow pb-20">
      <div class="space-y-8">
        <slot />
      </div>
    </main>
    <footer class="border-t border-stone-300 bg-stone-50 dark:bg-black dark:border-t-slate-200 bottom-0 w-full h-[20vh] ">
      <div class="mx-auto max-w-7xl space-y-4 px-4 py-8 lg:py-12">
        <h2 class="text-lg font-medium">🌸Elysia UI</h2>
        <p class="max-w-lg text-pretty text-stone-700 dark:text-white">
          Beautiful UI Components build with Tailwind CSS and Alphine JS.
        </p>
        <div
          class="flex flex-col gap-4 lg:flex-row lg:items-end lg:justify-between"
        >
          <div class="flex gap-4">
            <a
              href="/docs/introduction"
              class="font-medium text-stone-700 transition-colors hover:text-stone-900 dark:text-white focus:ring-2 focus:ring-pink-500 focus:outline-0"
              >Introduction</a
            >
            <a
              href="/docs/howtouse"
              class="font-medium text-stone-700 transition-colors hover:text-stone-900 dark:text-white focus:ring-2 focus:ring-pink-500 focus:outline-0"
              >How To Use</a
            >
          </div>
          <p class="text-stone-700 dark:text-white">
            <a
              href=""
              rel="noreferrer"
              target="_blank"
              class="font-medium underline transition-colors hover:text-stone-900 focus:ring-2 focus:ring-pink-500 focus:outline-0"
              >Giri Diwa Adam</a
            >
          </p>
        </div>
      </div>
    </footer>
    <!-- Collapse Alphine JS -->
    <script
    defer
    src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"
    is:inline></script>
    <!-- Alphine JS Core -->
    <script
    defer
    src="https://cdn.jsdelivr.net/npm/alpinejs@3.15.1/dist/cdn.min.js"
    is:inline></script>
    <!-- Another Utilities -->
    <script src="/js/alphine-global.js" defer is:inline></script>
    <script src="/js/header.js" is:inline></script>
  </body>
</html>
