---
/**
 * SELECT BY GIRI DIWA ADAM
 * 
 */
---
<div x-data="{ open: false, selected: 'Pilih salah satu', options: ['Alpine.js', 'Tailwind CSS', 'Vue.js', 'React', 'Next.js'] }" class="relative w-64">
    <h2 class="text-zinc-950 dark:text-zinc-950">Silahkan Pilih Technologies :</h2>
    <button @click="open = !open" class="w-full bg-white border border-gray-300 rounded-lg px-4 py-2 text-left shadow-sm flex justify-between items-center cursor-pointer z-10 text-zinc-950 dark:bg-zinc-950 dark:text-white">
    <span x-text="selected"></span>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.293l3.71-4.06a.75.75 0 111.08 1.04l-4.24 4.64a.75.75 0 01-1.08 0L5.21 8.27a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
    </svg>
  </button>

  <!-- Dropdown -->
  <ul x-show="open" @click.outside="open = false" class="relative  mt-1 w-full bg-white border border-gray-300 rounded-lg shadow-lg max-h-60 overflow-auto z-10 dark:bg-zinc-950 dark:text-white">
    <template x-for="option in options" :key="option">
      <li
        @click="selected = option; open = false"
        class="px-4 py-2 hover:bg-indigo-100 cursor-pointer text-zinc-950 dark:text-white"
        x-text="option"
      ></li>
    </template>
  </ul>
</div>

